*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;

}
h1{
  font-family: sans-serif;
  font-size: 20px;
  font-style:900;
  padding-left: 12px;



}

h3{
  font-family: sans-serif;
    font-size: 12px;
  padding-left: 12px;


}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #dedede;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 50px;
}

 .location{
   border-bottom: 1px solid #777;
   background-color: #dadada;
   float: left;
   padding:5px;
   width: 100%;
 }

.arrow{
  font-size: 12px;
  float: right;
  padding-right: 12px;
  padding-top: 35px;
}

.content {
  float: left;
  width:90%;
}
