
*, *::after, *::before  {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;

}

.restaurant-list h1 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: normal;
}

.restaurant-list h3 {
  font-weight:  300;
}

.container {
  background-color: silver;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position:  fixed;
  width: 420px;
}

.restaurant-list{
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
}

.location {
  display: inline-block;
  background-color: silver;
  padding: 4%;
  width: 100%;
  border-bottom: 1px black solid;
}

.arrow {
  position: relative;
  font-size: 10px;
  text-align: right;
  top: -20px;
}

div.location:hover{
  background-color: white;
}
