 *, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 420px;
}

.location {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
  top: 0;
}

.restaurant-list {
  padding-top: 40px;
  width: 100%;
}

.restaurant-list h1 {
  font-size: 1.75em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;

}
.restaurant-list h3 {
  font-weight: normal;
  font-size: 1.4em;
}
.arrow {
  width: 10%;
  padding: 10px;
}

.location:hover {
  background-color: grey;
}

div {
  width: 50%;
  height: 50%;
}

.content {
  padding: 10px;
  width: 80%;
}
